<a href="https://colab.research.google.com/github/ryali93/UNMSM_programacion2019-1/blob/master/jupyter/clase02_SintaxisPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 02
# SINTAXIS Y TIPOS DE DATOS

En esta lección revisaremos los tipos de datos, aprenderemos cómo se pueden almacenar los datos en las listas de Python y sobre el concepto de objetos en la programación.

## 2.1 Tipos de datos

Los tipos de variables posibles en Python son:

### Números:


*   string (str): Son caracteres, no tienen valor numérico
*   integer (int): Números enteros o naturales
*   float (float): Números flotantes o reales

In [0]:
a = 3        # esto es un número entero [int].
print("a es: ", type(a))
print(a)

b = 39.747  # esto es un número de coma flotante (float)
print("\nb es: ", type(b))
print(b)

z = 4 + 6j   # esto es un número complejo 
print("\nz es: ", type(z))
print(z)

str1 = 'hola'

str2 = int("123")

print("\na+b=", a + b)
print("\nstr2 + a = ", str2 + a)
print(type(str2))

### Cadena de texto:

In [0]:
c1 = "Bienvenido año nuevo "    # esto es una cadena de caracteres.
print("c1 es: ", type(c1))
print(c1)

c2 = "2019"          # esto es una cadena de caracteres. 
print("\nc2 es: ", type(c2))
print(c2)

c3 = c1 + c2         # concatenación de dos cadenas de caracteres
print("\nc3 es: ", type(c3))
print(c3)
print("\nc3 tiene ", len(c3), "caracteres") # La función [len] devuelve el número de caracteres de una cadena.

### Booleanos:

El tipo booleano sólo puede tener dos valores: True (cierto) y False (falso). Estos valores son especialmente importantes para las expresiones condicionales y los bucles.

In [0]:
# Conjunción
True and True
#True and False

In [0]:
# Disyunción
#True or True
#True or False
False or False

### Ejemplos:

In [0]:
dd= not True
print("dd es: ", dd)

In [0]:
not not not not not True

In [0]:
(4 < 5) and (5 < 6)

In [0]:
(4 < 5 ) and (9 < 6)

In [0]:
x1 = (1 == 2) or (2 == 2)
x2 = (1 == 2) and (2 == 2)

print("x1 es: ", x1)
print("x2 es: ", x2)

In [0]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

In [0]:
nombre = 'CHOSICA'
id = 202906
longitud = 76+41/60+23.8/3600 # 76° 41'23.8
latitud = 11+55/60+48.5/3600 # 11° 55'48.5"
tipo = 'Hidrometrica'
fecha = "28-02-1998"

Podemos explorar los diferentes tipos de datos almacenados en variables usando la type()función.

In [0]:
type(nombre)

In [0]:
type(id)

In [0]:
type(latitud)

In [0]:
type(tipo)

## Métodos de cadenas

Recuerde que los tipos de datos son importantes porque algunos no son compatibles entre sí.

In [0]:
nombre + id

Aquí obtenemos una **TypeError** porque Python no sabe cómo combinar una cadena de caracteres (nombre) con un valor entero ( id).

En otros lenguajes de programación es necesario escribir o declarar variables antes que puedan almacenar cualquier cosa en ellas. Esto no es necesario cuando trabajas con cadenas de caracteres en Python.

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)
print("--"*2)

cadena1 = "océano \n"
cadena2 = "atmósfera"
cadena = "Interacción "+cadena1 + cadena2
print(cadena)

In [0]:
cadena = "123"
numero = str(123)
c = cadena + numero
print(c)

### Indexación de cadenas

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)
print("\n")

print("índice [0]:", cadena[0])
print("índice [:] al [4]:", cadena[:4])
print("------------------------------------------------")

print("índice [-1]:", cadena[-1])
print("índice [-1] al [-4]:", cadena[-4:])

### Multiplicar cadena

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "*3 + cadena1 + cadena2
print(cadena)

print("\n")
cadena = "Interacción "*6 + cadena1 + cadena2
print(cadena)

### Añadir caracteres a una cadena

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

print("\n")
cadena += " continente"
print(cadena)

### Determinar el número de caracteres de una cadena

La función len devuelve el número de caracteres de una cadena. Esto es considerando la cantidad de caracteres y espacios en blanco.

In [0]:
cadena1 = "océano "
print(len(cadena1))

cadena2 = "atmósfera"
print(len(cadena2))

cadena = "Interacción " + cadena1 + cadena2
print(len(cadena))

### Buscar sub-cadenas

Es posible recorrer todas las sub cadenas de una cadena, utilizando el método find, quién devuelve el índice de inicio de la sub-cadena.

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

buscarSC = cadena.find("atmósfera")
print(buscarSC)

Si la sub-cadena no se encuentra dentro de la cadena, el método **find** devolverá el valor -1

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

buscarSC = cadena.find("acción océ")
print(buscarSC)

### Convertir: minúsculas y mayusculas

Los caracteres tienen diferentes métodos. Sigue de cerca las instrucciones para descubrir algunas de ellas. Si desea descubrirlos con más detalle, siempre puede escribir **help(str)**.

**upper():** devuelve una copia de la cadena en la que todos los caracteres como mayúsculas.

**lower():** devuelve una copia de la cadena en la que todos los caracteres como minúsculas.

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2

print(cadena)
print(cadena.upper())
print(cadena.lower())

### Reemplazar caracteres

In [0]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

newCad = cadena.replace("o", "land")
print(newCad)

### Convertir datos de un tipo a otro (Coerción)

No es el caso que variables como la ***nombre*** y ***id***  no puedan combinarse en absoluto, para combinar una cadena de caracteres con un número necesitamos realizar una conversión de tipo de datos para que sean compatibles. 
Por ejemplo, podríamos convertir el ***id*** entero en una cadena de caracteres usando la función str().

In [0]:
idstr = str(id)

In [0]:
type(id)

In [0]:
print(id)

Como puede ver, **str()** convierte un valor numérico en una cadena de caracteres con los mismos números que antes.

Similar a usar **str()** para convertir números en cadenas de caracteres, **int()** se puede usar para convertir cadenas o números de punto flotante en enteros y **float()** se puede usar para convertir cadenas o números enteros en números de punto flotante.

### Combinando texto y números

Aunque la mayoría de las operaciones matemáticas operan con valores numéricos, una forma común de combinar cadenas de caracteres es usar el operador de suma +.

In [0]:
nombreeid = nombre + ": " + str(id)

In [0]:
print(nombreeid)

Tenga en cuenta que aquí estamos convirtiendo **id** una cadena de caracteres utilizando la **str()** función dentro de la asignación a la variable **nombreeid**. Alternativamente, podríamos haber añadido simplemente **nombre** y **idstr**.

## Tips

### Ayuda

Tal vez ya sabes el nombre de una función, pero todavía tiene que averiguar cómo usarlo. 

Irónicamente, hay que pedir información sobre una función con otra función: **help()**. 

También se puede usar **?** antes del nombre de la función.

In [0]:
help(max)
?max